body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:85px;
  width:400px;
  height:400px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:349px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:116px;
  width:175px;
  height:349px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:179px;
  width:176px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:149px;
  width:175px;
  height:31px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:118px;
  width:175px;
  height:31px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:118px;
  width:105px;
  height:38px;
  font-family:'BradleyHandITCTT-Bold', 'Bradley Hand Bold', 'Bradley Hand';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:203px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:204px;
  width:176px;
  height:203px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
