body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:477px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:221px;
  width:300px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:174px;
  width:300px;
  height:31px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2_input:disabled {
  color:grayText;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:203px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:291px;
  width:300px;
  height:203px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
